ASSET_URL=http://myurl
FILE_EXTENSION=png||jpg||...
VAULT_PATH='root/dir/subdir'
DEBUG=True||False
ALLOWED_HOSTS=myhost, 0.0.0.0, ...
AI_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
VITE_PAYPAL_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXX
VITE_PAYPAL_CURRENCY=USD||EUR||...
PAYPAL_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXX
PAYPAL_MODE=live||sandbox
GOOGLE_MAPS_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXX
GRID_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXX
SEND_EMAIL=myemail@example.com