Django>=5.0.2
djangorestframework>=3.14.0
django-cors-headers>=4.0.0
python-dotenv>=1.0.1
django-debug-toolbar>=4.3.0
requests>=2.31.0
pillow>=10.2.0
SpeechRecognition>=3.10.1
geopy>=2.4.1
geoip2>=4.8.0
yelpapi>=2.5.1
pocketsphinx>=5.0.3
torch>=2.2.1
transformers>=4.38.2
twilio>=9.0.0
sendgrid>=6.11.0
selenium>=4.19.0
openai>=2.6.1
